.Emptable{
    width: 50%;
    border-collapse: collapse; 
    background-color: rgb(243,243,243);
    opacity: 85%;
    margin-top: 7rem;
}

.btn-primary{
    border: 0;
    font-size: small;
} 
.button{
    font-size: small;
}
h5{
    font: italic !important;
    font-size: 1rem;
}
.line{
    border-right: 0.1rem solid rgb(76, 75, 75);
    margin-right: 0.5rem;
}
table { 
    width: 90%; 
    border-collapse: collapse; 
    background-color: rgb(243,243,243);
    opacity: 85%;
    margin-top: 7rem;
  
  }

  th { 
    background: black; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 

  }

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}

	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid black; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid rgb(135, 132, 132); 
		position: relative;
		padding-left: 55%; 
    
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 13px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
        font-weight: bold;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Security Code"; }
	td:nth-of-type(2):before { content: "Company Name"; }
	td:nth-of-type(3):before { content: "Email"; }
	td:nth-of-type(4):before { content: "Phone Number"; }
	td:nth-of-type(5):before { content: "Contact Person Name"; }
	td:nth-of-type(6):before { content: "Contact Person Email"; }
	td:nth-of-type(7):before { content: "Edit"; }
	td:nth-of-type(8):before { content: "Employee Details"; }
}

