<app-nav> </app-nav>

<div class="d-flex justify-content-center">
    <table class="table table-hover ">
        <thead>
        <tr>
      
            <th>Security Code</th>
            <th >Company Name</th>
            <th>Company Email Id</th>
            <th >Company Phone Number</th>
            <th>Contact Person Name</th>
            <th>Contact Person Email Id</th>
            <th>Edit</th>
            <th >Employee Details</th>
          
        </tr>
        </thead>
        <tbody>
        <tr  >
            <td>111</td>
            <td>Usmart</td>
            <td>usmart@gmail.com</td>
            <td>142536987</td>
            <td>Tushar</td>
            <td>tushar@gmail.com</td>
            <td><button type="button" class="btn btn-primary">EDIT</button></td>  
            <td><button type="button" class="btn btn-primary">EMPLOYEE DETAILS</button></td>  
        </tr>
        </tbody>
    </table>
</div>



<!-- Emp details section -->
<div class="d-flex justify-content-center">
    <table class="Emptable table-hover ">
        <thead>
        <tr>
           <th>Employee Name</th>
            <th>Designation</th> 
            <th>Mobile Number</th>  
        </tr>
        </thead>
        <tbody>
        <tr  >
            <td>Tushar</td>
            <td>Intern</td>
            <td>142536987</td>     
        </tr>
        </tbody>
    </table>
</div>
