<app-nav></app-nav>
<!-- <body> -->
    <div class="main-content">
        <!-- <div class="container mt-7"> -->
          <!-- Table -->
         
          <div class="row mt-3">
            <div class="col-xl-8 m-auto order-xl-1">
              <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                  <div class="row align-items-center">
                    <div class="col-8">
                      <h3 class="mb-0">Information</h3>
                    </div>
  
                    <!-- <div class="col-4 text-right">
                      <button class="btn btn-primary" (click)="postFineDetails()" >Add</button>
                      <button class="btn btn-primary" [routerLink]="['../havaldarprofile']" >Back</button>
                    </div> -->
                    
                  </div>
                </div>
                <div class="card-body">
                  <form>
                    <h6 class="heading-small text-muted mb-4">COMPANY INFORMATION</h6>
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label class="form-control-label" for="input-username">Name of company</label>
                            <input type="text" formControlName="name" id="input-username" class="form-control form-control-alternative" placeholder="Enter name of the company">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-email">Email address</label>
                            <input type="email" formControlName="email" id="input-email" class="form-control form-control-alternative" placeholder="Enter email of the company">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label class="form-control-label" for="input-first-name">Phone number</label>
                            <input type="text" formControlName="pno" id="input-first-name" class="form-control form-control-alternative" placeholder="Enter phone number of the company" >
                          </div>
                        </div>
  
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label class="form-control-label" for="input-first-name">City</label>
                            <input type="text" formControlName="pno" id="input-first-name" class="form-control form-control-alternative" placeholder="Enter city of the company" >
                          </div>
                        </div>
  
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label class="form-control-label" for="input-first-name">Address</label>
                            <textarea id="input-first-name" rows="4" cols="50" class="form-control form-control-alternative" placeholder="Enter address of the company"></textarea>
                          </div>
                        </div>
              
                      </div>
                    </div>
                    <hr class="my-4">
                    <!-- car info -->
                    <h6 class="heading-small text-muted mb-4">CONTACT PERSON INFORMATION</h6>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-username">Name</label>
                          <input type="text" formControlName="vno" id="input-username" class="form-control form-control-alternative" placeholder="Enter name of the person">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-email">Email</label>
                          <input type="email" formControlName="lno" id="input-email" class="form-control form-control-alternative" placeholder="Enter email of the person">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-first-name">Mobile number</label>
                          <input type="text" formControlName="pno" id="input-first-name" class="form-control form-control-alternative" placeholder="Enter mobile number of the person" >
                        </div>
                      </div>
                    </div>
                    
  
                    <hr class="my-4">
                    <h6 class="heading-small text-muted mb-4">EMPLOYEE INFORMATION</h6>
                    <div class="pl-lg-4">
                      <div class="row">
  
                        <div class="mb-3">
                          <label for="formFile" class="form-control-label">Upload employee details in .csv format</label><br>
                          <input class="ml-2" type="file" id="formFile">
                        </div>
                        
                  
                      <!-- </div>
                      <div class="row"> -->
                       
              
                      </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button class="btn btn-primary" >Submit</button>
                        <!-- <button class="btn btn-primary" [routerLink]="['../havaldarprofile']" >Back</button> -->
                      </div>
                  </form>             
                </div>
  
                
  
              </div>
            </div>
          </div>
  
          
        <!-- </div> -->
      </div>
  
     
      
  
      <!-- <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6 m-auto text-center">
            <div class="copyright">
              <p></p>
            </div>
          </div>
        </div>
      </footer> -->
    <!-- </body> -->
  
  