<app-nav></app-nav>
<!-- <body> -->
    <div class="main-content">
        <!-- <div class="container mt-7"> -->
          <!-- Table -->

          <div class="row mt-3">
            <div class="col-xl-8 m-auto order-xl-1">
              <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                  <div class="row align-items-center">
                    <div class="col-8">
                      <h3 class="mb-0">Information</h3>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <form [formGroup]="dataForm" (ngSubmit)="doRegister(dataForm)">
                    <h6 class="heading-small text-muted mb-4">COMPANY INFORMATION</h6>
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label class="form-control-label" for="input-comp-name">Name of Company</label>
                            <input type="text" formControlName="compName" id="input-comp-name" required class="form-control form-control-alternative" placeholder="Enter name of the company">

                            <span class="m-0 p-0" *ngIf="dataForm.controls['compName'].invalid && (dataForm.controls['compName'].dirty || dataForm.controls['compName'].touched)">
                              <small *ngIf="dataForm.controls['compName'].errors?.['required']" class="text-danger">Company name is required</small>
                          </span>

                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-email">Email Address</label>
                            <input type="email" formControlName="email" id="input-email" required class="form-control form-control-alternative" placeholder="Enter email of the company">


                            <span class="m-0 p-0" *ngIf="dataForm.controls['email'].invalid && (dataForm.controls['email'].dirty || dataForm.controls['email'].touched) ">
                              <div>
                              <small *ngIf="dataForm.controls['email'].errors?.['required']" class="text-danger">Email is required</small>
                              <small *ngIf="dataForm.controls['email'].errors?.['pattern']" class="text-danger">Please provide a valid email address</small>
                            </div>
                          </span>

                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label class="form-control-label" for="input-pno">Phone Number</label>
                            <input type="number" formControlName="pno" id="input-pno" class="form-control form-control-alternative" placeholder="Enter phone number of the company" >

                            <span class="m-0 p-0" *ngIf="dataForm.controls['pno'].invalid && (dataForm.controls['pno'].dirty || dataForm.controls['pno'].touched) ">
                              <div>
                              <small *ngIf="dataForm.controls['pno'].errors?.['required']" class="text-danger">Phone number is required</small>
                              <small *ngIf="dataForm.controls['pno'].hasError('minlength')" class="text-danger">Please provide a valid phone number</small>
                            </div>
                          </span>

                          </div>
                        </div>

                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label class="form-control-label" for="input-city">City</label>
                            <input type="text" formControlName="city" id="input-city" required class="form-control form-control-alternative" placeholder="Enter city of the company" >
                            <span class="m-0 p-0" *ngIf="dataForm.controls['city'].invalid && (dataForm.controls['city'].dirty || dataForm.controls['city'].touched) ">
                              <div>
                              <small *ngIf="dataForm.controls['city'].errors?.['required']" class="text-danger">City is required</small>
                            </div>
                          </span>

                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label class="form-control-label" for="input-pin">Pin Code</label>
                            <input type="text" formControlName="pin" id="input-pin"  required maxlength="6" class="form-control form-control-alternative" placeholder="Enter pin code" >
                            <span class="m-0 p-0" *ngIf="dataForm.controls['pin'].invalid && (dataForm.controls['pin'].dirty || dataForm.controls['pin'].touched) ">
                              <div>
                              <small *ngIf="dataForm.controls['pin'].errors?.['required']" class="text-danger">Pin code is required</small>
                              <small *ngIf="dataForm.controls['pin'].errors?.['minlength']" class="text-danger">Please provide a valid pin code</small>
                            </div>
                          </span>

                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label class="form-control-label" for="input-address">Address</label>
                            <textarea id="input-address" formControlName="address" rows="4" cols="50" class="form-control form-control-alternative" required minlength="30" placeholder="Enter address of the company"></textarea>
                            <span class="m-0 p-0" *ngIf="dataForm.controls['address'].invalid && (dataForm.controls['address'].dirty || dataForm.controls['address'].touched) ">
                              <div>
                              <small *ngIf="dataForm.controls['address'].errors?.['required']" class="text-danger">Address is required</small>
                            </div>
                          </span>

                          </div>
                        </div>

                      </div>
                    </div>
                    <hr class="my-4">
                    <!-- car info -->
                    <h6 class="heading-small text-muted mb-4">CONTACT PERSON INFORMATION</h6>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-pname">Name</label>
                          <input type="text" formControlName="pname" id="input-pname" required class="form-control form-control-alternative" placeholder="Enter name of the person">
                          <span class="m-0 p-0" *ngIf="dataForm.controls['pname'].invalid && (dataForm.controls['pname'].dirty || dataForm.controls['pname'].touched) ">
                            <div>
                            <small *ngIf="dataForm.controls['pname'].errors?.['required']" class="text-danger">Name is required</small>
                          </div>
                        </span>

                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-pemail">Email</label>
                          <input type="email" formControlName="pemail" id="input-pemail" required class="form-control form-control-alternative" placeholder="Enter email of the person">

                          <span class="m-0 p-0" *ngIf="dataForm.controls['pemail'].invalid && (dataForm.controls['pemail'].dirty || dataForm.controls['pemail'].touched) ">
                            <div>
                            <small *ngIf="dataForm.controls['pemail'].errors?.['required']" class="text-danger">Email is required</small>
                            <small *ngIf="dataForm.controls['pemail'].errors?.['pattern']" class="text-danger">Please provide a valid email address</small>
                          </div>
                        </span>

                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-ppno">Mobile number</label>
                          <input type="number" formControlName="ppno" id="input-ppno" required class="form-control form-control-alternative" placeholder="Enter mobile number of the person" >

                          <span class="m-0 p-0" *ngIf="dataForm.controls['ppno'].invalid && (dataForm.controls['ppno'].dirty || dataForm.controls['ppno'].touched) ">
                            <div>
                            <small *ngIf="dataForm.controls['ppno'].errors?.['required']" class="text-danger">Mobile number is required</small>
                            <small *ngIf="dataForm.controls['ppno'].errors?.['minlength']" class="text-danger">Please provide a valid mobile number</small>
                          </div>
                        </span>
                        </div>
                      </div>
                    </div>


                    <hr class="my-4">
                    <h6 class="heading-small text-muted mb-4">EMPLOYEE INFORMATION</h6>
                    <div class="pl-lg-4">
                      <div class="row">

                        <div class="mb-3">
                          <label for="formFile" class="form-control-label">Upload employee details in .csv format. Max file size 10 MB</label><br>
                          <input formControlName="empDetails" class="ml-2" type="file" id="formFile" (change) = "checkSize($event)" accept=".csv">
                        </div>
                      </div>
                    </div>

                    <hr class="my-4">
                    <h6 class="heading-small text-muted mb-4">QR Code</h6>
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="mb-3">
                          <qrcode (qrCodeURL)="onChangeURL($event)" [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
                          <a [href]="qrCodeDownloadLink" download="qrcode"> <button class="btn btn-primary"> Download</button></a>
                        </div>
                      </div>
                    </div>

                    <div class="d-flex justify-content-center mt-3">
                        <button type="submit" class="btn btn-primary" >Submit</button>
                      </div>
                  </form>
                </div>



              </div>
            </div>
          </div>


        <!-- </div> -->
      </div>




      <!-- <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6 m-auto text-center">
            <div class="copyright">
              <p></p>
            </div>
          </div>
        </div>
      </footer> -->
    <!-- </body> -->

